@font-face {
  font-family: 'CustomFont';
  src: url('./assets/font/Barbra-Regular.ttf') format('truetype');
}

.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#82A4D2, #fff);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landingPageContainer nav {
  width:auto;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-inline: 1rem;
}

.landingPageContainer nav h2 {
  font-size: 2.5rem;
  font-family: 'CustomFont', sans-serif;
  color: #7a6e91;
  font-weight: 500;
}

.landingPageContainer nav .navlist {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  color: #3b3544;
}

.landingPageContainer nav .navlist p{
  margin-inline: 1rem;
  cursor: pointer;
}

.landingMainContainer {
  width:inherit;
  min-height: 83%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 2rem;
}

.landingMainContainer h2{
  text-align: center;
  font-size: 4rem;
  color: #3b3544;
}

.landingMainContainer .button{
  background-color: #82A4D2;
  color: #fff;
  text-decoration: none;
  border-radius: 1rem;
  padding: 0.7rem;
  height: max-content;
  width: max-content;
  cursor: pointer;
}

.landingMainContainer .button:hover{
  scale: 1.05;
  transition: 1s;
  background-color: #acbfd7;
}

.footer{
  width: inherit;
  font-size: smaller;
  background-color: #b6cae5;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: baseline;
  text-align: center;
}